.container {
  display: flex;
  align-items: flex-start;
  gap: 25px;
}

.ico-like,
.ico-dislike,
.ico-like-default,
.ico-dislike-default {
  width: 15px;
  transition: 0.2s;
  fill: var(--system-colors-secondary);
}

.ico-dislike-default {
  transform: scale(-1);
}

.ico-like {
  fill: var(--system-colors-primaty-1);
}

.ico-dislike {
  fill: var(--contextual-colors-error);
}

.count {
  margin-left: 5px;
  position: absolute;
}
