.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
  border: 2px solid var(--background-colors-medium);
  padding: 25px;
  margin: 0 auto;
  gap: 30px;
}
