.container {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding-top: 25px;
}

.itemInput {
  position: relative;
  width: 100%;
  p {
    position: absolute;
    top: 110%;
    color: #e57373;
  }
}
