.container-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--contextual-colors-white);
  background-color: var(--system-colors-primaty-1);
  padding: 10px 0px;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    color: var(--hover);
  }
}
