.wrapper {
  display: flex;
  max-width: 1170px;
  justify-content: space-between;
  border-top: 2px solid var(--background-colors-medium);
  padding: 20px 15px;
  margin: 0px auto;
}

.wrapper p {
  color: var(--background-colors-gray);
}
