.forgot-password {
  color: var(--system-colors-secondary);
  margin-top: 10px;
}

.container-btn-sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.container-sing-up {
  display: flex;
  gap: 5px;
}

.btn-sign-up {
  color: var(--system-colors-primaty-2);
}

.btn-sign-up,
.forgot-password {
  display: block;
  transition: 0.3s;
}

.forgot-password {
  opacity: 0.9;
  color: var(--system-colors-primaty-2);
  margin-left: 15px;
}

.btn-sign-up:hover,
.forgot-password:hover {
  color: var(--hover);
}

.link {
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--contextual-colors-white);
  background-color: var(--system-colors-primaty-1);
  padding: 10px 0px;
  transition: 0.3s;
  &:hover:not(.link-disabled) {
    color: var(--hover);
  }
}

.link-disabled {
  cursor: not-allowed;
  background-color: var(--background-colors-gray);
}
